@charset "UTF-8";
/* CSS Document */
/*  Caitlin Ahern - u3142796@uni.canberra.edu.au  */
/*  Mikaley Milner - u3139510@uni.canberra.edu.au  */
/*  Nicholas Shelley - u3151660@uni.canberra.edu.au  */
/*  William Irving - u3142921@uni.canberra.edu.au  */



/*   Counted API - Dynamic Data Project   */


/*   TABLE OF CONTENTS   */
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px)  {
 #Age input{
        width: 50%;
    }
 #Specific input{
  width: 50%;
 }

#submit-btn {
  width: 30%;
 }
  #memo{
  width: 15%;
 }
 #info{
  width: 15%;
 }
  #your {
  height: 400px;
}

#restart{
  width: 50%;
}
  }
/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px)  {
   #Age input{
        width: 40%;
   }
   #Specific input{
  width: 40%;
 }
 #submit-btn{
  width: 25%;
 }
  #memo{
  width: 20%;
 }
 #info{
  width: 20%;
 }
  #your {
  height: 350px;
}
#restart{
  width: 40%;
}
  }
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px)  {
   #Age input{
        width: 35%;
   }
     #Specific input{
  width: 35%;
 }
 #submit-btn{
  width: 20%;
 }
  #memo{
  width: 25%;
 }
 #info{
  width: 40%;
 }
  #your {
  height: 300px;
}
#restart{
  width: 30%;
}
  }
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px)  {
   #Age input{
        width: 30%;
   }
    #Specific input{
  width: 30%;
 }
 #submit-btn {
  width: 15%;
 }
  #memo{
  width: 30%;
 }
 #info{
  width: 60%;
 }
  #your {
  height: 250px;
}
#restart{
  width: 25%;
}
  }
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
   #Age input{
        width: 25%;
   }
   #Specific input{
  width: 25%;
 }
 #submit-btn {
  width: 10%;
 }
  #memo{
  width: 40%;
 }
 #info{
  width: 80%;
 }
  #your {
  height: 200px;
}
#restart{
  width: 20%;
}
  }
/* hi-res laptops and desktops */
@media (min-width:1281px) {

   #Age input{
        width: 20%;
  }
  #Specific input{
  width: 20%;
 }
 #submit-btn{
  width: 10%;
 }
 #memo{
  width: 50%;
 }
 #info{
  width: 100%;
 }
 #your {
  height: 150px;
}
#restart{
  width: 15%;
}
}


*{
  padding: 0;
  margin: 0;
}

html{
  padding: 0;
  margin: 0;
}


button {
    background-color: #fff;
    font-family: 'Rozha One', serif; /* Green */
    border: none;
    color: #D46524;
    width: 100%; /* 10, 5 */
    height: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition:all 0.3s ease;
}


button:hover {
     -webkit-transform: scale(0.8);
     -ms-transform: scale(0.8);
     transform: scale(0.8);
     color: black;
}





/* -------------------------  Age ---*/
#Age{
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #66517A;
}

#Age h2{
  padding-top: 250px;
  padding-bottom: 20px;
  font-family: 'Rozha One', serif;
  font-size: 40px;
  color: #fff;
}

input {
    width: 100%;
    height: 5%;
    transition:all 0.3s ease;
}


input:hover {
    background-color: #F2EBE1;
    opacity: 10;
}



input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
    background-color: #F2EBE1;
}


#Specific input[type=text]:focus {
    border: 3px solid #D5953D;
}

/* -------------------------  Ethnicity ---*/
#Ethnicity{
  text-align: center;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #E59327;
}

#Ethnicity h2{
  padding-top: 250px;
  padding-bottom: 20px;
  font-family: 'Rozha One', serif;
  font-size: 40px;
  color: #fff;
}



/* -------------------------  Gender ---*/

#Gender{
  text-align: center;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #D5953D;
}


#Gender h2{
  padding-top: 250px;
  padding-bottom: 20px;
  font-family: 'Rozha One', serif;
  font-size: 40px;
  color: #fff;
}

/* -------------------------  Specific ---*/
#Specific{
  display: none;
  text-align: center;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #D5953D;
}

#Specific h2{
  padding-top: 250px;
  padding-bottom: 20px;
  font-family: 'Rozha One', serif;
  font-size: 30px;
  color: #fff;
}

/* -------------------------  Submit ---*/
#Submit{
  text-align: center;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #D46524;
}

#submit-btn button{
  padding-top: 250px;
  padding-bottom: 20px;
}


/* -------------------------  End ---*/

#End{
    width: 100%;
    display: none;
}

#Statement{
  width: 100%;
  height: 700px;
  background-color: #B44822;
}

#Memo{
  font-family: 'Rozha One', serif;
  color: #fff;
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
    font-size: 50px;
    text-align: center;
}



#info{
  width: 100%;
  height: 200px;
  background-color: #E59327;
}

#info h2{
    font-family: 'Rozha One', serif;
    font-size: 40px;
  color: #fff;
  padding-left: 40px;
  padding-top: 80px;
}

#map { 
  height: 500px;
  width: 100%;
}

#social { 
  width: 100%;
  padding-bottom: 0;
}

#your {
  width: 100%;
  background-color: #E59327;
}

#your h2{
  font-family: 'Rozha One', serif;
  color: #fff;
  padding-top: 60px;
  padding-left: 0;
  padding-right: 30px;
  font-size: 30px;
  float: right;
}

#your p{
  font-family: 'Rozha One', serif;
  color: #fff;
    padding-left: 50px;
  padding-top: 60px;
  font-size: 30px;
}


#restart{
  text-align: center;
  background-color: #fff;
  height: 40px;
  padding-top: 5px;
    padding-bottom: 5px;
}


#restartbtn{
  padding-left: 50px;
}



/* -------------------------  Footer ---*/
footer{
  background-color:#66517A ; 
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
}

footer p{
  font-family: 'Rozha One', serif;
  color: #3E314A;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#infobar{
  background-color:#3E314A ; 
  width: 100%;
  height: 20px;
  display: none;
}
