@charset "UTF-8";
/* CSS Document */
/*   Caitlin Ahern - u3142796   */
/*   William Irving   */


/*   Counted API - Dynamic Data Project   */


/*   TABLE OF CONTENTS   */
*{
	padding: 0;
	margin: 0;
}

html{
	padding: 0;
	margin: 0;
}


button {
    background-color: #fff;
    font-family: 'Rozha One', serif; /* Green */
    border: none;
    color: #D46524;
    width: 10%;
    height: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition:all 0.3s ease;
}


button:hover {
     -webkit-transform: scale(0.8);
     -ms-transform: scale(0.8);
     transform: scale(0.8);
     color: black;
}





/* -------------------------  Age ---*/
#Age{
	text-align: center;
	width: 100%;
	height: 100vh;
	background-color: #66517A;
}

#Age h2{
	padding-top: 250px;
	padding-bottom: 20px;
	font-family: 'Rozha One', serif;
	font-size: 40px;
	color: #fff;
}

input {
    width: 20%;
    height: 5%;
    transition:all 0.3s ease;
}


input:hover {
    background-color: #F2EBE1;
    opacity: 10;
}



input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #555;
    background-color: #F2EBE1;
}


#Specific input[type=text]:focus {
    border: 3px solid #D5953D;
}

/* -------------------------  Ethnicity ---*/
#Ethnicity{
	text-align: center;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #E59327;
}

#Ethnicity h2{
	padding-top: 250px;
	padding-bottom: 20px;
	font-family: 'Rozha One', serif;
	font-size: 40px;
	color: #fff;
}


/* -------------------------  Gender ---*/

#Gender{
	text-align: center;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #D5953D;
}


#Gender h2{
	padding-top: 250px;
	padding-bottom: 20px;
	font-family: 'Rozha One', serif;
	font-size: 40px;
	color: #fff;
}

/* -------------------------  Specific ---*/
#Specific{
	display: none;
	text-align: center;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #D5953D;
}

#Specific h2{
	padding-top: 250px;
	padding-bottom: 20px;
	font-family: 'Rozha One', serif;
	font-size: 30px;
	color: #fff;
}

/* -------------------------  Submit ---*/
#Submit{
	text-align: center;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #D46524;
}

#submit-btn button{
	padding-top: 250px;
	padding-bottom: 20px;
}


/* -------------------------  End ---*/

#End{
    width: 100%;
	display: none;
}

#Statement{
	width: 100%;
	height: 500px;
	background-color: #B44822;
}

#Memo{
	font-family: 'Rozha One', serif;
	color: #fff;
    padding-left: 50px;
	padding-top: 80px;
	font-size: 50px;
	width: 50%;
}


#info{
	width: 100%;
	height: 200px;
	background-color: #E59327;
}

#map { 
	height: 500px;
	width: 100%;
}


#your {
	width: 100%;
	height: 200px;
	background-color: #E59327;
}

#your h2{
	font-family: 'Rozha One', serif;
	color: #fff;
	padding-top: 60px;
	padding-left: 0;
	padding-right: 30px;
	font-size: 30px;
	float: right;
}

#your p{
	font-family: 'Rozha One', serif;
	color: #fff;
    padding-left: 50px;
	padding-top: 60px;
	font-size: 30px;
}

#restart{
	text-align: center;
	border-radius: 8%;
	background-color: #fff;
	width: 12%;
	height: 30px;
	position: absolute;
	padding-top: 5px;
	left: 1050px;
}





/* -------------------------  Footer ---*/
footer{
	background-color: #66517A;
	width: 100%;
	height: 50px;
	display: none;
}

