@charset "UTF-8";
/* CSS Document */
/*   Caitlin Ahern - u3142796   */
/*   William Irving   */


/*   Counted API - Dynamic Data Project   */


/*   TABLE OF CONTENTS   */
*{
	padding: 0;
	margin: 0;
}

html{
	padding: 0;
	margin: 0;
}


/* -------------------------  Age ---*/
#Age{
	text-align: center;
	width: 100%;
	height: 100vh;
	background-color: #66517A;
}

#Age h2{
	padding-top: 250px;
	padding-bottom: 20px;
}

#Age input{
	width: 200px;
}


/* -------------------------  Ethnicity ---*/
#Ethnicity{
	text-align: center;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #E59327;
}

#Ethnicity h2{
	padding-top: 250px;
	padding-bottom: 20px;
}


/* -------------------------  Gender ---*/

#Gender{
	text-align: center;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #D5953D;
}


#Gender h2{
	padding-top: 250px;
	padding-bottom: 20px;
}

/* -------------------------  Specific ---*/
#Specific{
	display: none;
	text-align: center;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #D5953D;
}

#Specific h2{
	padding-top: 250px;
	padding-bottom: 20px;
}

/* -------------------------  Submit ---*/
#Submit{
	text-align: center;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #D46524;
}

#submit-btn button{
	padding-top: 250px;
	padding-bottom: 20px;
}


/* -------------------------  End ---*/

#End{

	display: none;
}

#Statement{
	width: 100%;
	height: 500px;
	background-color: #B44822;
}

#Memo{
	font-family: 'Rozha One', serif;
	color: #fff;
    padding-left: 50px;
	padding-top: 80px;
}


#info{
	width: 100%;
	height: 200px;
	background-color: #E59327;
}


#map {
	height: 400px;
	width: 100%;
	margin: 0;
	display: none;
}


/* -------------------------  Footer ---*/
footer{
	background-color: #66517A;
	width: 100%;
	height: 50px;
	display: none;
}



/* Responsive */


@media only screen and (min-width: 1224px) {
#Memo{
    font-size: 100px;
	width: 50%;
}

}

@media only screen and (min-width: 768px) {
#Memo{
    font-size: 50px;
	width: 50%;
}

}
@media only screen and (min-width: 600px) {

	#Memo{
    font-size: 40px;
	width: 45%;
}

}

@media only screen and (min-width: 320px){
	
	#Memo{
    font-size: 30px;
	width: 60%;
}

}