@charset "UTF-8";
/* CSS Document */
/*   Caitlin Ahern - u3142796   */
/*   William Irving   */


/*   Counted API - Dynamic Data Project   */


/*   TABLE OF CONTENTS   */

#Age{
	text-align: center;
}


#Ethnicity{
	text-align: center;
}

#Gender{
	text-align: center;
}


#map {
	height: 400px;
	width: 100%;
	margin: 0;
}