@charset "UTF-8";
/* CSS Document */
/*   Caitlin Ahern - u3142796   */
/*   William Irving   */


/*   Counted API - Dynamic Data Project   */


/*   TABLE OF CONTENTS   */
*{
	padding: 0;
	margin: 0;
}

html{
	padding: 0;
	margin: 0;
}


/* -------------------------  Age ---*/
#Age{
	text-align: center;
	width: 100%;
	height: 100vh;
	background-color: #66517A;
}

#Age h2{
	padding-top: 250px;
	padding-bottom: 20px;
}

#Age input{
	width: 200px;
}


/* -------------------------  Ethnicity ---*/
#Ethnicity{
	text-align: center;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #E59327;
}

#Ethnicity h2{
	padding-top: 250px;
	padding-bottom: 20px;
}


/* -------------------------  Gender ---*/

#Gender{
	text-align: center;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #D5953D;
}


#Gender h2{
	padding-top: 250px;
	padding-bottom: 20px;
}

/* -------------------------  Submit ---*/
#Submit{
	text-align: center;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #D46524;
}

#submit-btn button{
	padding-top: 250px;
	padding-bottom: 20px;
}


/* -------------------------  End ---*/

#End{
	display: none;;
}

#Statement{
	width: 100%;
	height: 500px;
	background-color: #B44822;
}


#map {
	height: 400px;
	width: 100%;
	margin: 0;
	display: none;
}



/* Responsive */

/* Mobile*/
[*] {
    ;
}

/*Desktop */
@media only screen and (min-width: 768px) {

}

/*Tablet*/
@media only screen and (min-width: 600px) {

}
